@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*
Lichtgrijs #F7F7F7
Donkergrijs #D3D3D3
 */

* {
    box-sizing: border-box;
}

.recipe-card {
    /* "auto" aan de zijkanten zorgt ervoor dat het element in het midden komt te staan*/
    margin: 80px auto;
    /* Dit element heeft een vaste breedte van 350 pixels */
    width: 350px;
    border-radius: 8px;
    border: 1px solid #D3D3D3;
    box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.10);
}

.recipe-photo {
    width: 100%;
}