@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*
Lichtgrijs #F7F7F7
Donkergrijs #D3D3D3
 */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.recipe-card {
    /* "auto" aan de zijkanten zorgt ervoor dat het element in het midden komt te staan*/
    margin: 80px auto;
    /* Dit element heeft een vaste breedte van 350 pixels */
    width: 350px;
    border-radius: 8px;
    border: 1px solid #D3D3D3;
    box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.10);
    overflow: hidden;
    position: relative;
}

.recipe-photo {
    width: 100%;
}

.recipe-title {
    font-size: 16px;
    margin: 20px;
}
/*Ik had ook padding-block 5px kunnen gebruiken ipv 5 top en 5 bottom
 */

.recipe-details {
    background-color: #F7F7F7;
    padding-block: 5px;
    margin-top: -7px;
}

.recipe-details-icon {
    height: 12px;
    margin-inline: 5px;
}

.recipe-details-item {
    font-size: 14px;
    margin-inline: 8px;
}

.favorite-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 20px;
}